<footer id="footer">
  <div class="inner">
    <section>
      <h2>Get in touch</h2>
      <form method="post" action="#">
        <div class="fields">
          <div class="field half">
            <input type="text" name="name" id="name" placeholder="Name" />
          </div>
          <div class="field half">
            <input type="email" name="email" id="email" placeholder="Email" />
          </div>
          <div class="field">
            <textarea name="message" id="message" placeholder="Message"></textarea>
          </div>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Send" class="primary" /></li>
        </ul>
      </form>
    </section>
    <section>
      <h2>Follow</h2>
      <ul class="icons">
        {% for item in site.data.social %}
          <li>
            <a href="{{ item.link }}" class="icon brands style2 {{ item.icon }}" target="blank">
              <span class="label">{{ item.name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
    <ul class="copyright">
      {% for site.data.footer }}
        <li>
          {{ item.text }} 
          {% if item.link %}
            <a href="{{ item.link.url }}">
              {{ item.link.text }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</footer>