<footer id="footer">
  <div class="inner">
    {% include contact-form.html %}
    <section>
      <h2>Follow</h2>
      <ul class="icons">
        {% for item in site.data.social %}
          <li>
            <a href="{{ item.link }}" class="icon {{ item.type }} style2 {{ item.icon }}" target="blank">
              <span class="label">{{ item.name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
    <ul class="copyright">
      {% for site.data.footer }}
        <li>
          {{ item.text }} 
          {% if item.link %}
            <a href="{{ item.link.url }}">
              {{ item.link.text }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</footer>