<header id="header">
  <div class="inner">
  <!-- Logo -->
    <a href="{{ site.baseurl }}/" class="logo">
      <span class="symbol">
        <img 
          src="{{ site.logo.url | relative_url }}" 
          alt="{{ site.title }}" 
          height="{{ site.logo.height }}"
          width="{{ site.logo.width }}"
        />
      </span>
      <span class="title">{{ site.title }}</span>
    </a>
  <!-- Nav -->
    <nav>
      <ul>
        <li><a href="#menu">Menu</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- Menu -->
<nav id="menu">
  <h2>Menu</h2>
  <ul>
    {% for item in site.data.menus.main %}
    <li class="{% if item.url == page.url %}current{% endif %}">  
      <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>