<header id="header">
  <div class="inner">
  <!-- Logo -->
    <a href="{{ site.baseurl }}/" class="logo">
      <span class="symbol"><img src="{{ 'images/logo.svg' | relative_url }}" alt="" /></span><span class="title">Phantom</span>
    </a>

  <!-- Nav -->
    <nav>
      <ul>
        <li><a href="#menu">Menu</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- Menu -->
<nav id="menu">
  <h2>Menu</h2>
  <ul>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/post-2/">Ipsum veroeros</a></li>
    <li><a href="{{ site.baseurl }}/post-3/">Tempus etiam</a></li>
    <li><a href="{{ site.baseurl }}/post-4/">Consequat dolor</a></li>
    <li><a href="{{ site.baseurl }}/post-2/">Elements</a></li>
  </ul>
</nav>